body {
    overflow-y: hidden;
    background-color: var(--white-grey);
}

.privacyPoliceContainer {
    height: 90dvh;
    margin-left: 280px;
    margin-top: 90px;
    padding-bottom: 20px;
    overflow-y: scroll;
    width: 100%;    
}

.backArrowPrivacyPoliceContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
}

.BackArrowPrivacyPolice {
    height: 37px;
}

.privacyPoliceHeadlineAndBackArrow {
    display: flex;
    justify-content: space-between;
}

.privacyPoliceAElement {
    color: var(--mockup-highlight);
    cursor: pointer;
    overflow-wrap: break-word;
}

.privacyPoliceAElement:hover {
    color: var(--hyper-link-color);
}

@media only screen and (max-width: 949px) and (min-width: 320px) {
    .privacyPoliceContainer {
        height: 80dvh;
        margin-left: 10px;
        margin-top: 90px;
        padding-bottom: 50px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: -webkit-fill-available; 
    }
}