.summary-greeting {
    font-size: 47px;
    font-weight: 500;
    color: var(--mockup-color);
    margin-left: 20px;
}

.summary-content {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 40px;
   height: 90vh;
   margin-left: 350px;
   margin-right: 16px;   
}

.summary-title {
    height: 104px;
    max-width: 223px;
    gap: 8px;
    margin-top: 100px;
}

.separator {
    width: 90px;
    height: 3px;
    margin-top: 16px;
    background-color: #29ABE2;
}

.summary-icon {
    height: 69px;
    width: 69px;
    margin-right: 10px;
}

.summary-change-content {
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.summary-change-content2 {
    font-size: 16px;
    font-weight: 700;
}

.toDoAndDoneCountContainer {
    display: flex;
    align-items: center;
    gap: 18px;   
}

.toDoAndDoneCountContainer a{
    color: black;
}

.toDoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
    padding-top: 38px;
    padding-right: 19px;
    padding-bottom: 38px;
    padding-left: 19px;
    width: 264px;
    height: 168px;
    gap: 18px;
    cursor: pointer;
}

.toDoContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.toDoContainer:hover .summary-icon {
    filter:  invert(100%) brightness(1000%);
    border-radius: 50%;
}

.toDo {
    display: flex;
    flex-direction: column;
}

.doneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
    padding-top: 38px;
    padding-right: 58px;
    padding-bottom: 38px;
    padding-left: 58px;
    width: 264px;
    height: 168px;
    gap: 18px;
    cursor: pointer;
}

.doneContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.doneContainer:hover .summary-icon {
    filter:  invert(100%) brightness(1000%);
    border-radius: 50%;
}

.done {
    display: flex;
    flex-direction: column;
}

.priorityAndNextDateContainer {
    display: flex;
    align-items: center;
}

.priorityAndNextDateContainer a {
    color: black;
}

.priorityContainer {
    display: flex;    
    align-items: center;    
    padding: 10px;
    width: 150px;
    height: 80px;
    cursor: pointer;
}

.priority {
    display: flex;
    flex-direction: column;
}

.nextDateContainer {
    margin-left: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.allTasksAndProgressAndFeedbackContainer {
    display: flex;
    align-items: center;
    gap: 13px;
}

.allTasksAndProgressAndFeedbackContainer a {
    color: black;
}

.allTasksContainer {
    display: flex;    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;
    width: 168px;
    height: 168px;
    cursor: pointer;
}

.allTasksContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.progressContainer {
    display: flex;    
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;
    width: 168px;
    height: 168px;    
    cursor: pointer;
}

.progressContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.feedbackContainer {
    display: flex;    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;
    width: 168px;
    height: 168px;    
    cursor: pointer;
}

.feedbackContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.greetingUserNamePElement{
    color: var(--mockup-highlight);
}

.displayFlex {
    display: flex;
}

.summarypriorityAndNextDate {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 540px;
    height: 168px;
    gap: 20px;
    cursor: pointer;
}

.summarypriorityAndNextDate:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.greyLine {
    height: 68px;
    border: 2px solid;    
    border-color: rgba(209, 209, 209, 1);
}

.summaryTaskPElement {
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 1160px) and (min-width: 320px) {
    .summary-greeting {
        display: none;
    }
}

@media only screen and (max-width: 949px) and (min-width: 320px) {
    .summary-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 10px;
    }

    .summary-title {
        margin-left: 50px;
        margin-top: 100px;
    }
    
    .summary-greeting {
        font-size: 36px;
        margin-top: 20px;
    }

    .toDoAndDoneCountContainer {
        margin-left: 25px;
    }

    .priorityAndNextDateContainer {
        margin-left: 25px;       
    }

    .allTasksAndProgressAndFeedbackContainer {
        margin-left: 20px;
    }

    .toDoContainer {
        width: 186px;
    }

    .doneContainer {
        width: 186px;
    }

    .summarypriorityAndNextDate {
        width: 396px;
    }

    .allTasksContainer {
        width: 116px;
    }

    .progressContainer {
        width: 116px;
    }

    .feedbackContainer {
        width: 116px;
    }
}

@media only screen and (max-width: 650px) and (min-width: 320px) {
    body {
        overflow-y: hidden;
    }

    .priorityAndNextDateContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
    }

    .summary-title {
        margin-top: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) and (min-width: 320px) {
    .toDoAndDoneCountContainer {        
        align-items: center;
        justify-content: left;
    }

    .toDoContainer {
        width: 186px;
        height: 110px;
    }

    .doneContainer {        
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 110px;
    }

    .priorityAndNextDateContainer {
        justify-content: left;        
    }

    .priorityContainer {
        width: 120px;
    }

    .nextDateContainer {        
        width: 120px;
    }

    .allTasksAndProgressAndFeedbackContainer {        
        align-items: center;
        margin-bottom: 20px;
    }

    .progressContainer {
        width: 116px;
        height: 116px;      
    }

    .summary-greeting {
        margin-top: 20px;
    }

    .allTasksContainer {
        width: 116px;
        height: 116px;
    }

    .feedbackContainer {
        width: 116px;
        height: 116px;
    }
}

@media only screen and (max-width: 410px) and (min-width: 320px) {
    .summary-greeting {
        font-size: 24px;
        font-weight: 400;
    }

    .summarypriorityAndNextDate {
        gap: 10px;
        width: 250px;
        height: 100px;      
    }

    .summary-change-content {
        font-size: 47px;
        font-weight: 600;
    }

    .summary-change-content2 {
        font-size: 12px;
    }

    .allTasksContainer {
        width: 75px;
    }

    .progressContainer {
        width: 75px;
    }

    .feedbackContainer {
        width: 75px;        
    }

    .allTasksAndProgressAndFeedbackContainer {
        margin-left: 10px;
    }

    .toDoAndDoneCountContainer {
        margin-left: 10px;
    }

    .priorityAndNextDateContainer {
        margin-left: 10px;
    }

    .doneContainer {
        margin-left: 0;
        width: 120px;
        height: 90px;
    }

    .toDoContainer {
        width: 120px;
        height: 90px;
    }

    .summary-icon {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px){
    .summary-title-h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 350px) and (min-width: 320px) {
    .summary-content {
        margin-left: 0;
    }
}