.summary-greeting {
    font-size: 47px;
    font-weight: 500;
    color: var(--mockup-color);
    margin-left: 20px;
}

.summary-content {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 40px;
   height: 90vh;
   margin-left: 350px;
   margin-right: 16px;   
}

.summary-title {
    height: 104px;
    max-width: 223px;
    gap: 8px;
}

.separator {
    width: 90px;
    height: 3px;
    margin-top: 16px;
    background-color: #29ABE2;
}

.summary-icon {
    height: 40px;
    margin-right: 10px;
}

.summary-change-content {
    font-size: 47px;
    display: flex;
    justify-content: center;
}

.summary-change-content2 {
    font-size: 16px;
    font-weight: 700;
}

.toDoAndDoneCountContainer {
    display: flex;
    align-items: center;    
}

.toDoAndDoneCountContainer a{
    color: black;
}

.toDoContainer {
    display: flex;    
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    height: 80px;
    cursor: pointer;    
}

.toDoContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.toDo {
    display: flex;
    flex-direction: column;
}

.doneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    height: 80px;
    cursor: pointer;    
}

.doneContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.done {
    display: flex;
    flex-direction: column;
}

.priorityAndNextDateContainer {
    display: flex;
    align-items: center;
}

.priorityAndNextDateContainer a {
    color: black;
}

.priorityContainer {
    display: flex;    
    align-items: center;    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    height: 80px;
    cursor: pointer;
}

.priorityContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.priority {
    display: flex;
    flex-direction: column;
}

.nextDateContainer {
    margin-left: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.nextDateContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.allTasksAndProgressAndFeedbackContainer {
    display: flex;
    align-items: center;
}

.allTasksAndProgressAndFeedbackContainer a {
    color: black;
}

.allTasksContainer {
    display: flex;    
    align-items: center;
    flex-direction: column; 
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.allTasksContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.progressContainer {
    display: flex;    
    align-items: center;
    flex-direction: column;    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}

.progressContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.feedbackContainer {
    display: flex;    
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}

.feedbackContainer:hover {
    background-color: var(--mockup-color);
    transform: scale(1.05);
    color: var(--white-color);
}

.greetingUserNamePElement{
    color: var(--mockup-highlight);
}

.displayFlex {
    display: flex;
}

@media only screen and (max-width: 949px) and (min-width: 320px) {
    .summary-content {
        margin-left: 0;
    }

    .summary-title {
        margin-left: 50px;
        margin-top: 80px;
    }
    
    .summary-greeting {
        font-size: 36px;
        margin-top: 20px;
    }

    .toDoAndDoneCountContainer {
        margin-left: 25px;
    }

    .priorityAndNextDateContainer {
        margin-left: 25px;
    }

    .allTasksAndProgressAndFeedbackContainer {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 650px) and (min-width: 320px) {
    .summary-content {        
        overflow-y: scroll;
        height: 80vh;        
    }

    body {
        overflow-y: hidden;
    }

    .priorityAndNextDateContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 550px) and (min-width: 320px) {
    .toDoAndDoneCountContainer {        
        align-items: center;
        justify-content: left;
    }

    .toDoContainer {
        width: 120px;
    }

    .doneContainer {
        margin-left: 20px;     
        justify-content: flex-start;
        width: 120px;
    }

    .priorityAndNextDateContainer {
        justify-content: left;        
    }

    .priorityContainer {
        width: 120px;
    }

    .nextDateContainer {        
        width: 120px;
    }

    .allTasksAndProgressAndFeedbackContainer {        
        align-items: center;
        margin-bottom: 20px;
    }

    .progressContainer {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 70px;      
    }

    .summary-title {
        margin-top: 290px;
    }

    .summary-greeting {
        margin-top: 20px;
    }

    .allTasksContainer {
        width: 70px;
    }

    .feedbackContainer {
        width: 70px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
    .summary-greeting {
        font-size: 24px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 350px) and (min-width: 320px) {

}

@media only screen and (max-width: 350px) and (min-width: 320px) {
    .summary-content {
        margin-left: 0;
    }
}