<link rel="stylesheet" href="./css/footer.css">
<footer class="footer">
    <div>
        <div class="desktopLogoContainer">
            <img class="desktopLogo" src="./assets/img/footer_logo.png" alt="Join Logo">
        </div>

        <div class="menu-box">
            <div class="menu-content" >
                <a href="./summary.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId1')">
                    <div class="footer-icon-box" id="footer-icon-boxId1">                        
                        <img class="footer-icon" src="./assets/img/summary_Icons.png" alt="">
                        <p class="footerIconPElement">Summary</p>
                    </div>
                </a>
                <a href="./board.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId2')">
                    <div class="footer-icon-box" id="footer-icon-boxId2">                    
                        <img class="footer-icon" src="./assets/img/board_Icons.png" alt="">
                        <p class="footerIconPElement">Board</p>
                    </div>
                </a>
                <a href="./add_task.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId3')">
                    <div class="footer-icon-box" id="footer-icon-boxId3">                    
                        <img class="footer-icon" src="./assets/img/add_Tasks_Icon.png" alt="">
                        <p class="footerIconPElement">Add Tasks</p>
                    </div>
                </a>
                <a href="./contacts.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId4')">
                    <div class="footer-icon-box" id="footer-icon-boxId4">                    
                        <img class="footer-icon" src="./assets/img/contacts_Icons.png" alt="">
                        <p class="footerIconPElement">Contacts</p>
                    </div>
                </a>                
            </div>
        </div>
    </div>
       
    <div class="desktop-data-box">
        <a href="./privacy_policy.html" class="desktop-data-link" onclick="resetActiveLinkId()">Privacy Policy</a>
        <a href="./legal_notice.html" class="desktop-data-link" onclick="resetActiveLinkId()">Legal notice</a>
    </div>
</footer>