<link rel="stylesheet" href="./css/footer.css">
<footer class="footer">
    <div>
        <div class="desktop-logo">
            <img src="./assets/img/footer_logo.png" alt="Join Logo">
        </div>

        <div class="menu-box">
            <div class="menu-content" >
                <div class="footer-icon-box" id="footer-icon-boxId1">
                    <a href="./summary.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId1')">
                        Summary
                    </a>
                </div>
                <div class="footer-icon-box" id="footer-icon-boxId2">
                    <a href="./board.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId2')">
                        Board
                    </a>
                </div>
                <div class="footer-icon-box" id="footer-icon-boxId3">
                    <a href="./add_task.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId3')">
                        Add Tasks
                    </a>
                </div>
                <div class="footer-icon-box" id="footer-icon-boxId4">
                    <a href="./contacts.html" class="footer-link" onclick="handleLinkClick('footer-icon-boxId4')">
                        Contacts
                    </a>
                </div>
            </div>
        </div>
        </div>
        </div>
       
        <div class="desktop-data-box">
            <a href="./privacy_policy.html" class="desktop-data-link" onclick="resetActiveLinkId()">Privacy Policy</a>
            <a href="./legal_notice.html" class="desktop-data-link" onclick="resetActiveLinkId()">Legal notice</a>
        </div>
        
    </div>
</footer>