<header class="header">
    <div class="header-gap">
        <img class="header-logo" src="./assets/img/logo.png" alt="join logo">
        <div class="headerTextDesktop">Kanban Project Management Tool</div>
        <div class="helpAndInitialsContainer">
            <div class="helpButtonContainer">
                <a href="./help.html"><img class="helpSVG" src="./assets/svg/help.svg" alt=""></a>                
            </div>
            <div class="header-profil" id="headerProfilID" onclick="toggleDropdown()"></div>                
                <div id="dropdown" style="display: none;">
                    <ul>
                        <a class="headerDropDownMenuLinks" href="./legal_notice.html">Legal Notice</a><br>
                        <a class="headerDropDownMenuLinks" href="./privacy_policy.html">Privacy Police</a><br>
                        <a class="headerDropDownMenuLinks" href="./index.html" onclick="userLogOut()">Log out</a>
                    </ul>
                </div>
        </div>        
    </div>
</header>
